body {
	margin: 0;
}

#body1 {
	display: flex;
	background-color: #a2d9ce;
	width: 100%;
	height: 150px;
}
.top {
	font-size: relative-size;
	left: 100px;
	position: relative;
	float: left;
	margin-top: 30px;
}

.btn {
	width: 200px;
	height: 50px;
	border-radius: 20px;
	background-color: green;
	border: 2px soild #a2d9ce;
	font-size: 16px;
	color: rgb(248, 235, 235);
	transition: background-color 2s;
}
.btn:hover {
	background-color: #a2d9ce;
}

.btn2 {
	width: relative-size;
	height: 30px;
	border-radius: 10px;
	background-color: rgb(177, 38, 56);
	border: 2px soild #a2d9ce;
	font-size: 16px;
	color: rgb(248, 235, 235);
	transition: background-color 2s;
}
.btn2:hover {
	background-color: #a2d9ce;
}
.btn3 {
	width: relative-size;
	height: 30px;
	border-radius: 10px;
	background-color: rgb(177, 38, 56);
	border: 2px soild #a2d9ce;
	font-size: 16px;
	color: rgb(248, 235, 235);
	transition: background-color 2s;
}
.btn3:hover {
	background-color: #a2d9ce;
}
a {
	color: "white";
}
ul li {
	background-color: rgb(248, 235, 235) k;
	width: 2000px;
	height: 30px;
	float: left;
	text-align: left;
}
ul li a {
	color: rgb(81, 0, 255);
	text-decoration: solid;
	font-size: larger;
	border-radius: 10px;
}
ul li a:hover {
	background-color: yellow;
	display: inline-block;
}
ul li ul li {
	display: inline-table;
	background-color: rgb(248, 235, 235) k;
	width: 2000px;
	height: 30px;
	float: left;
	text-align: left;
}
ul li ul li a {
	color: Red;
	text-decoration: dotted;
}
ul li:hoverul li {
	diplay: inline;
}
